<section class="news">
  <div class="container">
    <nav class="breadcrumb">
      <a class="breadcrumb-item text-primary" routerLink=''>Home</a>
      <a class="breadcrumb-item text-secondary">News</a>
    </nav>
    <h1>News</h1>
    <div class="news__search-wrapper">
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-6 col-lg-2 order-2 order-lg-1">
            <div class="form-group d-flex flex-column">
              <label>From</label>
              <input type="date" formControlName="start_date" class="form-control" (change)="searchByDate()" aria-describedby="start date">
            </div>
          </div>
          <div class="col-6 col-lg-2 order-3 order-lg-2">
            <div class="form-group d-flex flex-column">
              <label>To</label>
              <input type="date" formControlName="end_date" class="form-control" (change)="searchByDate()" aria-describedby="end date">
            </div>

          </div>
          <div class="col-6  col-lg-2 order-4 order-lg-3">
            <div class="form-group d-flex flex-column">
              <label>Category</label>
              <select class="form-control" formControlName="category" (change)="searchByCategory()" >
                <option value="all">All category</option>
                <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>>
              </select>
            </div>
          </div>
          <div class="col-12 order-1 order-lg-4 col-lg-4 search">
            <div class="form-group">
              <input formControlName="searchValue" (keyup)="focusFunction()" type="text" class="searchInput form-control" (keypress)='search($event)' aria-describedby="search"
                placeholder="search">
              <button type="submit" class="btn"  (click)='searchByName()'><i class="fas fa-search"></i></button>
            </div>
          </div>
          <div class="col-6 order-5 col-lg-2 sortDropdown">
            <div class="form-group dropdown open">
              <a class="sort" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Sort by <i class="fas fa-exchange-alt fa-1x"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="triggerId">
                <button class="dropdown-item" (click)='sortAsc()'>A to Z</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" (click)='sortDesc()'>Z to A</button>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="news__items-wrapper">
        <div *ngIf="isLoading">
          <app-loading-spinner></app-loading-spinner>
        </div>
      <app-shared-news [NewsList]="allNews" *ngIf="!isLoading"></app-shared-news>
    </div>
  </div>
</section>
