@import '../../../../variables';
@import '../../../../mixins';

.services {
  background: rgba(63, 63, 63, 0.5) url(../../../../assets/img/homepage/slider2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: hue;
  text-align: center;
  padding: 120px 0;

  @media(max-width: 992px) {
    background-attachment: fixed;
  }

  .container {
    &>h2 {
      color: #fff;
      margin-bottom: 1rem;
      font-size: 2.4rem;

      @media(min-width: 992px) {
        font-size: 3.6rem;
      }
    }

    &>p {
      color: #fff;
      margin-bottom: 5rem;
      font-size: 1.6rem;
      width: clamp(45ch, auto,75ch);

      @media(min-width: 992px) {
        font-size: 2rem;
        margin-bottom: 10rem;
      }
    }
  }


  &__items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 175px;
    height: 175px;
    margin: 0 45px;
    border: 3px solid #fff;
    transform: rotate(45deg) scale(1);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in-out);

    &:hover {
      background: $sky-blue;
      border-color: $sky-blue;
    }

    @media(max-width: 1300px) {
      transform: rotate(45deg) scale(0.9);
      margin: 0 25px;
    }

    @media(max-width: 1100px) {
      transform: rotate(45deg) scale(0.8);
      margin: 0 20px;
      width: 150px;
      height: 150px;
    }

    @media(max-width: 992px) {
      margin: 0 10px;
    }

    @media(max-width: $md) {
      margin: 10px;
    }

    .content-wrapper {
      transform: rotate(-45deg);
      height: 100%;
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .icon-wrapper {
        width: 40px;
        margin: 0 auto 10px;
        @media(min-width:1100px) {
          width: 55px;
        }
      }

      i {
        color: #fff;
        font-size: 1rem;
      }

      p {
        font-size: 1.3rem;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}
