<nav class="navbar">
  <div class="container">
    <div class="navbar__menu-btn">
      <button (click)='collapseMenu=!collapseMenu' class="menu">
        menu
      </button>
    </div>
    <a href="" class="navbar__logo">
      <img class="img-fluid" src="../../../assets/Link_logo_vertical_color_Light_RGB.png" alt="">
    </a>
    <ul class="navbar__links">
      <li class="navbar__search">
        <div [ngClass]="{'searchCollapse': collapseSearch}" class="form-group">
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Search">
          <span class="fas fa-search" (click)="searchCollapse()">btn</span>
        </div>
      </li>
      <li class="notification">
        <div class="dropdown">
          <a type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-bell"></i> </a>
          <ul class="dropdown-menu" aria-labelledby="triggerId">
            <li><a href="#">link</a></li>
          </ul>
        </div>
        <a class="toats">setting</a>
      </li>
      <li class="user align-items-center">
        <img src="../../../assets/img.png" alt="">
        <p>User name</p>
      </li>
      <li class="setting">
        <div class="dropdown">
          <a type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="triggerId">
            <li><a href="#"></a></li>
          </ul>
        </div>

        <a class="toats">setting</a>
      </li>
    </ul>
  </div>
</nav>


<app-sidebar class="sidebar" [ngClass]="{'active': collapseMenu}"></app-sidebar>
