<nav class="navbar fixed-top">
  <div class="container">
    <div class="navbar__menu-btn "(click)='menuCollapse()' [ngClass]="{'showIcon': collapseMenu}">
        <img class="img-fluid" src="../../../assets/img/shared/Menu.png" alt=""  *ngIf="!collapseMenu">
        <img class="img-fluid" src="../../../assets/img/shared/Menu_2_.svg" alt="" *ngIf="collapseMenu">
    </div>
    <a href="" class="navbar__logo">
      <img class="img-fluid" src="../../../assets/img/shared/logo.svg" alt="">
    </a>
    <ul class="navbar__links">
      <li class="navbar__search">
        <div [ngClass]="{'searchCollapse': collapseSearch}" class="form-group">
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Search">
        </div>
        <div class="search" (click)="searchCollapse()">
          <img src="../../../assets/img/shared/ic_search_24px.svg" alt="search" >
        </div>
        <span class="toats">search</span>
      </li>
      <ul class="notification">
        <li class="dropdown">
          <a type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../../assets/img/shared/notification.svg" alt="">
            <span class="toats">notifications</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="notification">
            <li>
              <h6 class="dropdown-item">recent notification</h6>
              <a class="dropdown-item disabled" href="#">Disabled action</a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">All notification <i
                  class="fas fa-long-arrow-alt-right fa-1x"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <li class="navbar__profile align-items-center">
        <img src="../../../assets/img/shared/img.png" alt="">
        <p>User name</p>
      </li>
      <li class="navbar__setting">
          <a type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../../assets/img/shared/settings.svg" alt="">
            <span class="toats">setting</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="triggerId">
            <li><a href="#"></a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>


<app-sidebar class="sidebar" [ngClass]="{'active': collapseMenu}"></app-sidebar>
