<nav class="sidebar">
  <div class="sidebar__social">
    <a href="#"><i class=" fab fa-twitter"></i></a>
    <a href="#"><i class="fab  fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-instagram instgram"></i></a>
  </div>
  <ul class="sidebar__links">
    <li class="sidebar__profile align-items-center">
      <img src="../../../assets/img/shared/img.png" alt="">
      <p>User name</p>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="['/home']">
        <h3 >Home</h3>
      </a>
    </li>
    <li>
      <h3>About Us</h3>
      <a href="#">who are us</a>
      <a href="#">why us?</a>
    </li>
    <li>
      <h3>News</h3>
      <a routerLinkActive="active" [routerLink]="['/news']">News</a>
      <a href="#">Events</a>
    </li>
    <li>
      <h3>Careers</h3>
      <a href="#">Opportunities</a>
    </li>
    <li>
      <a href="#">Contact Us
      </a>
      <a href="#">Site Map
      </a>
    </li>
  </ul>
</nav>
