<section class="latest-news">
  <div class="container">
    <div class="latest-news__header">
      <h2>Latest News</h2>
      <a class="view-all" routerLink='/news'>
       View all <i class="fas fa-long-arrow-alt-right fa-1x"></i>
    </a>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <!-- start -->
        <div class="card">
          <!-- img -->
          <div class="card-img">
            <img src="../../../../assets/img/blog.svg" alt="">
          </div>
          <div class="card-body">
                     <!-- links -->
          <div class="card-share text-right">
            <div class="favorite-icon">
              <input type="checkbox" />
              <i class="far fa-heart"></i>
              <i class="favorite fas fa-heart"></i>
            </div>
            <div class="card-dropdown">
              <span class="social dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-share-alt fa-3x"></i></span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item bg-primary text-white">
                  <i class="fab text-white fa-facebook-f"></i>
                </a>
                <a class="dropdown-item bg-info text-white">
                  <i class="text-white fab fa-twitter"></i>
                </a>
                <a class="dropdown-item bg-danger">
                  <i class="text-white fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- body -->
            <a href="#">
              <h3 class="card-title">President El Sisi Unveils “Egypt Vision 2030” Sustainabl...</h3>
            <span class="badge">News</span>
          </a>
            <p>If you prefer to have a more personalized tour of the Grand Egyptian Museum, you can
              choose one of the thematic tours in Guided Tours, and we can provide a private tour with one of our best
              ...</p>
            <div class="date"><i class="far fa-calendar-alt fa-1x"></i>Wed 12 Aug 2020</div>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
  </div>
</section>
