
<section class="latest-news">
  <div class="container">
    <div class="latest-news__header">
      <h2>Latest News</h2>
      <a class="view-all" routerLink='/news'>
       View all <i class="fas fa-long-arrow-alt-right fa-1x"></i>
    </a>
    </div>
    <div class="latest-news__content">
      <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
      </div>
        <app-shared-news [NewsList]="homeNewList" *ngIf="!isLoading"> </app-shared-news>
    </div>
    </div>
</section>
