<section class="banner-slider">

  <owl-carousel-o [options]="owlOptions" >
    <ng-container *ngFor="let data of slideObject">
      <ng-template carouselSlide [id]="'data.id'">
        <figure class="banner-slider__item">
          <!-- <img [src]="data.src" [alt]="data.alt" [title]="data.title"> -->
          <div class={{data.alt}} style="background:rgba(117, 117, 117,0.6)  url('{{data.src}}')no-repeat 0 65%"></div>
        </figure>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <figcaption class="banner-slider__caption">
    <h1 class="text-white">Al Foundation</h1>
    <p class="text-white">is focused on inspiring the next generation of kids Healthcare professionals.</p>
    <a class="btn" href="">Donate Now</a>
  </figcaption>
</section>
