/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// imports
@import './variables';
@import './mixins';
@import './fonts';
@import './news-card';


// general style

:root {
  font-size: 12px;

  @media (min-width: $lg) {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-weight: normal;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  @media (min-width: 1200px) {
    max-width: 85%;
  }
}
//dropdoen
.dropdown-menu {
  right: 0;
  left: auto;
}
// slider
.banner-slider {
  .owl-theme .owl-nav [class*=owl-] {
    margin: 0 !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
    @media screen and (min-width: 992px) {
      display: block;
    }
    .nav-btn {
      width: 20px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    i {
      font-size: 1rem;
      color: white;
    }

    &.owl-next {
      right: 8%;
    }

    &.owl-prev {
      left: 8%;
    }

    &:hover {
      background: #D6D6D6;

      i {
        color: #B1ADAD;
      }
    }
  }

  .owl-theme .owl-dots {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    span{
      margin: 4px;
      background: rgb(255, 255, 255,0.5);
    }
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    height: 15px;
    width: 15px;
    background: white;
  }
}
.owl-theme .owl-nav{
  margin: 0 !important;
}

// btns
.btn{
  color: #ffffff;
  background-color: $sky-blue;
  padding: 0.7rem 1.8rem;
}
.text-primary{
  color: $primary;
}
// bread crumb
.breadcrumb {
  background: transparent;
  padding: 0;

  .breadcrumb-item {
    display: flex;
    align-items: center;
    padding-left: 10px;

    &+.breadcrumb-item::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f054";
      display: flex;
      align-items: center;
      line-height: 1;
    }
  }
}
app-loading-spinner{
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(000,000,000,0.5);
}
