<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 col-lg-2">
        <ul class="footer__links">
          <li>
            <a href="">News</a>
          </li>
          <li>
            <a href="">Events</a>
          </li>
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="">FAQs</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-2">
        <ul class="footer__contactUs">
          <li>
            <a href="">Privacy policy</a>
          </li>
          <li>
            <a href="">Contact us</a>
          </li>
          <li>
            <a href="">Complains</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="footer__subscribe">
          <h3>Subscribe to Newsletter</h3>
          <div class="form-group">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Email Address">
            <button type="button" class="btn">Subscribe</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="footer__follow">
          <h3>Follow us on</h3>
          <ul class="footer__follow-icons">
            <li>
              <a href="#"><i class=" fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab  fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram instgram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
